@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Nav bar */

nav {
    background-color: #1F2937;
    padding-top: 16px;
}

nav .container {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-weight: 600;
}

/* Hero */

#hero {
    background-color: #1F2937;
}

#hero .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

#hero .content {
    width: 400px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#hero .container p {
    color: #E5E7EB;
    margin-bottom: 16px;
}

.btn.sign-up {
    background-color: #3882F6;
    border: none;
    padding: 8px 36px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.hero-image {
    width: 350px;
    border: 3px solid white;
}

/* Information */

#information {
    height: 500px;
}

#information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
    text-align: center;
    padding: 64px;
}

#information .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px;
}

.card {
    width: 150px;
}

.card img{
    width: 150px;
    border-radius: 8px;
}

.card p {
    color: rgb(87, 86, 86);
}

/* Testimonial */

#testimonial {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

#testimonial .container {
    width: 800px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.thor {
    font-size: 22px;
    font-weight: 600;
    color: #1F2937;
    text-align: end;
}

/* CTA */

#cta {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta .container {
    background-color: #3882F6;
    border-radius: 8px;

}

#cta .content {
    padding: 40px 100px;
    width: 1000px;
    display: flex;
    justify-content: space-between;

}

.content h3 {
    color: #E5E7EB;
    font-weight: 700;
    font-size: 20px;
}

.content p {
    color: #d3d3d3;
}

.sign-up-2 {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    padding: 6px 30px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

/* Footer */

#footer {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #E5E7EB;
}